.container {
    max-width: 960px;
    padding: 0;
}

.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #000000;
}

.navbar-centered {
    width: 100%;
    text-align: center;
    margin: auto;
}

.navbar-white {
    background-color: white;
}

.jumbotron {
    text-align: center;
    background: rgba(255, 255, 255, 0.7) ;
}

.navbar-fixed-top {
    border-width: 1px 0px 1px;
}

#results {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
}