{% extends 'gpp/base.html' %}

{% block title %}Home{% endblock %}

{% block body_block %}

    <style>
        body {
            background-image: url(/static/images/background.jpg);
            background-size: cover;
        }
    </style>

    <div class="container" style="max-width: 600px; padding-top: 150px;">
        <div class="jumbotron">
            <h2>Search Publications</h2>
            <form id="search_form" role="form" method="post" action='/gpp/results/'>
                {% csrf_token %}
                <p>
                    <div class="input-group">
                        <input class="form-control" type="text" id="query" value="" name="query">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary" name="submit">Go</button>
                        </span>
                    </div>
                </p>
                <p>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="radio" name="options" id="option1" checked> Standard Search
                        </label>
                        <label class="btn btn-primary popover-hover" data-toggle="popover" data-content="Enables searching by document content.">
                            <input type="radio" name="options" id="option2"> Full-text Search
                        </label>
                    </div>
                </p>
                <p>
                    <button type="button" class="btn btn-default" onclick="$('#filters').slideToggle(); $('#filterCaret').toggleClass('caret-reversed')">
                        Filters&nbsp;
                        <span id='filterCaret' class="caret"></span>
                    </button>
                </p>
                {% include 'gpp/filters.html' %}
            </form>
        </div>

{% endblock %}